* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: hsl(218, 28%, 13%);
  font-size: 14px;
}

header {
  display: flex;
  flex-direction: row;
  color: white;
  padding-left: 25px;
  padding-right: 25px;
  margin: 10px;
  justify-content: space-between;
}

nav ul {
  display: flex;
  gap: 40px;
  list-style: none;
}
.logo img {
  width: 100px;
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.intro img {
  width: 50%;
}

.intro h2 {
  color: #fff;
  margin-top: 20px;
}

.intro p {
  color: #fff;
  margin-top: 30px;
  width: 40%;
}

.btn {
  padding: 8px 40px;
  align-self: flex-start;
  border: none;
  border-radius: 50px;
  background: hsl(198, 60%, 50%);
  color: #fff;
}

.img-curve {
  width: 100vw;
  margin: -170px 0px -20px -30px;
  z-index: 0;
  padding-bottom: 40px;
  height: 250px;
  position: relative;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.col-2 {
  flex-basis: 20%;
}
