html {
  font-size: 14px;
}
* {
  padding: 0;
  margin: 0;
}
body {
  background: hsl(218, 28%, 13%);
  font-family: "Open Sans", sans-serif;
  color: #fff;
  font-weight: 400;
  /* font-family: "Raleway", sans-serif; */
}

.logo img {
  max-width: 70%;
}

.intro img {
  max-width: 100%;
  margin-left: 0.9em;
}

#product {
  max-width: 100%;
  margin-left: 0.5em;
}

.image-quote {
  max-width: 100%;
  /* position: relative;
  bottom: 50px; */
}

.profile-img {
  width: 50%;
  border-radius: 50%;
}

.btn {
  padding: 1em 5em;
  margin-top: 1.2em;
  border: none;
  border-radius: 50px;
  background-color: hsl(198, 60%, 50%);
  color: #fff;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: hsl(198, 67%, 23%);
  cursor: pointer;
}
/********TYPOGRAPHY********/

.heading,
.col-title {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  margin-bottom: 1.5em;
  padding-top: 1.5em;
}

/********LAYOUT********/
header {
  padding: 2em 0;
  text-align: center;
  margin-bottom: 3rem;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}

.container {
  width: 90%;
  max-width: 980px;
  margin: 0 auto;
}

.container-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (min-width: 600px) {
  .container-flex {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.container-feed {
  display: flex;
  margin: 2em 0;
}

/********NAVIGATION********/
nav ul {
  list-style: none;
  color: #fff;
  display: flex;
  flex-direction: column;
  padding: 0;
}

nav li {
  margin: 0.5em 0;
}

@media (min-width: 600px) {
  nav ul {
    flex-direction: row;
    justify-content: space-between;
  }

  nav li {
    margin-left: 2em;
  }
}
/********INTRO********/

.intro {
  text-align: center;
  margin: 5.5em 0;
}

/********COLS********/

.col-2 {
  text-align: center;
  margin-bottom: 5em;
}

.link {
  margin-top: 3em;
  padding-bottom: 2em;
  color: hsl(176, 68%, 64%);
}

.fylo-link {
  margin-top: 1.5em;
  text-align: left;
}

@media (min-width: 600px) {
  .col-1 {
    width: 40%;
  }
  .col2 {
    width: 40%;
  }

  .col-3 {
    width: 40%;
  }
}
/********TESTIMONIAL********/
.feedback-1,
.feedback-2,
.feedback-3 {
  background: hsl(219, 30%, 18%);
  max-height: 500px;
  margin: 1em 0;
  padding: 1.5em;
  position: relative;
  bottom: 10px;
  transition: box-shadow 0.3s;
}

.feedback-1:hover {
  box-shadow: 0 0 20px rgb(0, 0, 0.1);
  cursor: pointer;
}

.feedback-2:hover {
  box-shadow: 0 0 20px rgb(0, 0, 0.1);
  cursor: pointer;
}

.feedback-3:hover {
  box-shadow: 0 0 20px rgb(0, 0, 0.1);
  cursor: pointer;
}

.pro-img {
  width: 20%;
}
.name {
  width: 50%;
}
.image-quote {
  width: 30px;
  transform: translateY(-45px);
  transform: translateX(20px);
}

@media (min-width: 600px) {
  .feedback-1,
  .feedback-2,
  .feedback-3 {
    width: 25%;
    position: relative;
    bottom: 10px;
  }
  .pro-img {
    width: 40%;
  }
  .image-quote {
    transform: translateY(-45px);
    transform: translateX(80px);
  }
}

/********EMAIL********/
.email-container {
  text-align: center;
  background: hsl(217, 28%, 15%);
  max-height: 400px;
  padding: 2em 0;
  position: relative;
  top: 40px;
}

.email {
  margin-top: 2em;
  padding: 1em 3.5em;
  border-radius: 50px;
  border: none;
}

.free {
  margin-top: 2em;
  padding: 1em 5em;
  border-radius: 50px;
  border: none;
  background: hsl(176, 68%, 64%);
  transition: background-color 0.3s;
}

.free:hover {
  background-color: hsl(176, 46%, 31%);
  cursor: pointer;
}
@media (min-width: 600px) {
  .email-container {
    width: 75%;
    margin-left: 6.5em;
    text-align: center;
  }

  .email {
    margin-right: 1.5em;
  }
}

/********FOOTER********/
footer {
  padding: 5em 0;
  background: hsl(216, 53%, 9%);
}

.container-footer {
  display: flex;
  flex-direction: column;
}

.location {
  margin-top: 2em;
  display: flex;
  justify-content: space-evenly;
}

.location-text {
  width: 80%;
}

.footer-2 {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-left: 2em;
}

.footer-3 {
  margin-top: 2em;
  padding: 2em 0;
}

.footer-3 ul {
  list-style: none;
}

.footer-3 a {
  text-decoration: none;
  color: #fff;
}

.footer-4 {
  margin-top: 2em;
}

.footer-4 a {
  text-decoration: none;
  color: #fff;
}

.footer-4 ul {
  list-style: none;
}

.footer-5 {
  margin-top: 2em;
  text-align: center;
}

.footer-5 i {
  padding-right: 1.2em;
}

.footer-5 ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

.footer-logo {
  padding-left: 1.5em;
}

@media (min-width: 600px) {
  .container-footer {
    flex-direction: row;
  }

  .location {
    width: 30%;
  }

  .footer-2 {
    width: 20%;
  }

  .footer-3 {
    padding: 0 2em;
    width: 20%;
  }

  .footer-4 {
    width: 20%;
  }

  .footer-5 {
    width: 20%;
  }
}
