* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: hsl(218, 28%, 13%);
  font-size: 1em;
  font-family: "Open Sans", sans-serif;
}

header {
  display: flex;
  flex-direction: row;
  color: white;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
  margin: 10px;
  justify-content: space-between;
  font-family: "Raleway", sans-serif;
}

nav ul {
  display: flex;
  gap: 40px;
  list-style: none;
}
.logo img {
  width: 100px;
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.intro img {
  width: 50%;
}

.intro h2 {
  color: #fff;
  margin-top: 20px;
  font-family: "Raleway", sans-serif;
}

.intro p {
  color: #fff;
  margin-top: 30px;
  width: 40%;
}

.btn {
  padding: 8px 40px;
  align-self: flex-start;
  border: none;
  border-radius: 50px;
  background: hsl(198, 60%, 50%);
  color: #fff;
  font-family: "Raleway", sans-serif;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: hsl(198, 100%, 65%);
  cursor: pointer;
}

.content {
  padding-left: 25px;
  padding-right: 25px;
  width: 1200px;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-left: 100px;
  flex-wrap: wrap;
}

.col-2 {
  flex-basis: 50%;
  padding: 140px;
  color: #fff;
}

.col-2 h1 {
  margin: 20px 0;
  font-family: "Raleway", sans-serif;
}

.col-2 p {
  margin: 20px 0;
}

#product {
  width: 150%;
}

.col-2 a {
  color: rgb(107, 226, 156);
}

.feedback {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-left: 100px;
  flex-wrap: wrap;
  gap: 20px;
  color: #fff;
}
.feedback-1 {
  flex-basis: 30%;
  background: hsl(219, 30%, 18%);
  transition: box-shadow 0.3s;
}

.feedback-1:hover {
  box-shadow: 0px 0px 20px rgb(0, 0, 0.1);
  cursor: pointer;
}

.feedback-2 {
  flex-basis: 30%;
  background: hsl(219, 30%, 18%);
  transition: box-shadow 0.3s;
}

.feedback-2:hover {
  box-shadow: 0px 0px 20px rgb(0, 0, 0.1);
  cursor: pointer;
}

.feedback-3 {
  flex-basis: 30%;
  background: hsl(219, 30%, 18%);
  transition: box-shadow 0.3s;
}

.feedback-3:hover {
  box-shadow: 0px 0px 20px rgb(0, 0, 0.1);
  cursor: pointer;
}

.image-quote {
  width: 30px;
  transform: translateY(-25px);
}

.profile-img {
  border-radius: 50%;
  width: 50px;
}

.quote {
  padding: 10px;
  margin-bottom: 10px;
}

.container {
  padding: 20px;
  display: flex;
  gap: 10px;
}

.quotes {
  padding: 20px;

  margin-top: 18px;
}

.email-container {
  margin-top: 120px;
  background: hsl(217, 28%, 15%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  border-radius: 10px;
  padding: 20px 20px 50px 20px;
  position: relative;
  top: 80px;
  left: 240px;
  text-align: center;
  width: 60%;
}

.email-container h1 {
  margin-bottom: 10px;
}

.email-container p {
  width: 60%;
  margin: 30px 0;
}

.input {
  display: flex;
  gap: 20px;
}

.email {
  padding: 10px 120px;
  border: none;
  border-radius: 50px;
}

.free {
  padding: 8px 40px;
  border: none;
  border-radius: 50px;
  background: hsl(176, 68%, 64%);
  color: #fff;
  font-family: "Raleway", sans-serif;
}

.free:hover {
  background-color: hsl(176, 43%, 46%);
  cursor: pointer;
}

footer {
  padding-top: 100px;
  padding-bottom: 20px;
  background: hsl(216, 53%, 9%);
  color: #fff;
}

.footer-logo {
  flex-basis: 100%;
}
.footer-logo img {
  width: 100px;
}

.footer-row {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  flex-wrap: wrap;
  gap: 20px;
  padding-right: 25px;
  padding-left: 25px;
}

.footer-col {
  flex-basis: 15%;
  margin-top: 20px;
}

.footer-col ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer-col a {
  text-decoration: none;
  color: #fff;
}

.footer-rows {
  display: flex;
}

.social {
  display: flex;
  gap: 20px;
}
